$primary:#9356dc;
$second:#ff79da;
$tertiary:#99E2D0;
$back:#fff;
$police:"roboto";
$police1: "shrikland";
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    background: $back;
    *:before, *:after{
        -webkit-box-sizing: inherit;
                box-sizing: inherit;
    }
}
body{
    font-size: 16px;
    font-family: $police, sans-serif;
    background: #f6f6f6;
    margin: auto;
    h1, h2, h3, h4, h5, h6, p, ol, ul{
        margin: 0;
        padding: 0;
        font-weight: normal;
        }
        ol, ul{
            list-style: none;
        }
        img{
            max-width: 100%;
            height: auto;
        }
}
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    height: 63px;
    -webkit-box-shadow: 0 3px 10px 0px #dddddd;
            box-shadow: 0 3px 10px 0px #dddddd;
    h2{
        font-family: $police1, sans-serif;
        font-weight: bold;
        font-size: 2rem;
        }
    .header_container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction:normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        height: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width: 1024px;
        margin: auto;
        position: relative;
        color: #000;
    }
    .back{
        position: absolute;
        top: 1rem;
        left: 1.5rem;
        font-size: 1.5rem;
    }
}
.localiser{
    background-color: #eaeaea;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal ;
    -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
     -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
          align-items: center;
          i{
              margin-right: 1rem;
              margin-left: -1rem;
          }
}
.conteneur-fonctionnement{
    height: 286px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    p{
        text-align: center;
        padding: 0 2rem;
    }
    .conteneur-fonctionnement_reservez{
        font-size: 1.6rem;
        font-weight: bold;
    }
    .conteneur-fonctionnement_decouvrez{
        font-weight: lighter;
    }
}
.loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
    -webkit-animation: fade 0ms 2s forwards;
            animation: fade 0ms 2s forwards;
            .load{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                   -ms-flex-pack: center;
                 justify-content: center;
                padding: 2rem;
            }
            .spinner{
                position: absolute;
                top: 30%;
                padding: 1rem;
                border-left: 0.5rem solid #9356dc;
                border-right: 00.5rem solid #ff79da;
                opacity: 0.5;
                border-radius: 50%;
                -webkit-animation: spin 2s forwards ease-in-out;
                        animation: spin 2s forwards ease-in-out;
            }
            .load_text{
                position: absolute;
                top: 50%;
                font-size: 2rem;
                font-weight: 500;
                text-transform: uppercase;
                background: #aaaaaa;
                color: transparent;
                        }
            &:after{
                content: "";
                -webkit-animation: blink 0.5s infinite;
                        animation: blink 0.5s infinite;
            }
           
}