@charset "UTF-8";
@import url(libs/variables.scss);
@import url(libs/reset.scss);
@import url(libs/mixins.scss);
/*RAZ*/
* {
  box-sizing: border-box;
}

html, body, ul, li, h1, h2, h3, h4, p, img {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  margin: 0 auto;
  background-color: #f6f6f6;
}

h1, h2, h3 {
  font-size: 1rem;
  font-family: "Shrikland";
}

p {
  font-family: "Roboto";
}

img {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Fin RAZ */
html {
  scroll-behavior: smooth;
}

/* Header */
header {
  z-index: 1;
}

.header {
  display: flex;
  justify-content: center;
  background-color: white;
  /*gap:5rem;*/
  /*border:solid orange;*/
  position: relative;
}
.header a:hover i {
  /*font-weight: bolder;
  color: #9356dc;
  transition: transform  1.5s ease-in-out;*/
  /* Animation */
  /*transform: scale(2.5);*/
  /*font-size: 20px;*/
  color: #FF79DA;
}

.header__logo {
  position: relative;
  /*flex:1; width:100%;height:100%;    */
  margin: 1rem 100px;
  /*background-color:yellow;*/
  /*min-width:179px;min-height:32px;*/
}

.header__logo__ohmyfood {
  width: 100%;
  height: 100%;
  /*border:solid pink;*/
  font-size: clamp(28px, 5vw, 68px);
}

.pic_fit {
  object-fit: cover;
}

/*header button*/
.retour {
  position: absolute;
  /*margin-top:2.25rem;top:-2.25%;left:5%;*/
  /*padding-left:2rem;*/
  /*margin-top:1.25rem;*/
  /*margin-left:1rem;*/
  min-width: 20px;
  min-height: 20px;
  /*font-size: 20px;*/
  z-index: 5;
  /*font-size:18px*/
  font-size: clamp(18px, 5vw, 32px);
  font-weight: bold;
  /*border:solid purple;*/
  /*top:20px; left:20px;*/
  top: 35%;
  left: 5%;
}

/* section Photo de la table */
/*
https://www.zonecss.fr/faq/les-images-et-les-css.html
Vous pouvez en Css, faire en sorte qu'une image (img) s'adapte en largeur à son conteneur parent. 
Pour cela vous devez utiliser la propriété Css width à 100% sur l'image et préciser la propriété Css height à auto.
*/
.PhotoTable {
  z-index: 1;
  width: 100%;
  min-height: 286px;
  height: auto;
  display: flex;
  /*
      https://developer.mozilla.org/fr/docs/Web/CSS/background
      Ici on utilise une seule image, centrée  
      et remise à l'échelle 
      background: no-repeat center/80% url("../img/image.png");
  */
  background: no-repeat center/50% url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
}

.PhotoTable2 {
  z-index: 1;
  width: 100%;
  min-height: 286px;
  height: auto;
  display: flex;
  /*
      https://developer.mozilla.org/fr/docs/Web/CSS/background
      Ici on utilise une seule image, centrée  
      et remise à l'échelle 
      background: no-repeat center/80% url("../img/image.png");
  */
  background: no-repeat center/50% url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
}

.PhotoTable3 {
  z-index: 1;
  width: 100%;
  min-height: 286px;
  height: auto;
  display: flex;
  /*
      https://developer.mozilla.org/fr/docs/Web/CSS/background
      Ici on utilise une seule image, centrée  
      et remise à l'échelle 
      background: no-repeat center/80% url("../img/image.png");
  */
  background: no-repeat center/50% url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
}

.PhotoTable4 {
  z-index: 1;
  width: 100%;
  min-height: 286px;
  height: auto;
  display: flex;
  /*
      https://developer.mozilla.org/fr/docs/Web/CSS/background
      Ici on utilise une seule image, centrée  
      et remise à l'échelle 
      background: no-repeat center/80% url("../img/image.png");
  */
  background: no-repeat center/50% url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
}

/* article gastronomie */
.gastronomie {
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-color: #f6f6f6;
  z-index: 5;
  margin-top: -60px;
  /*border: solid lime;*/
}

.gastronomie__LaCarte {
  display: flex;
  flex-direction: column;
  /*gap:15px;*/
  z-index: 15;
  /*border:solid red;*/
}

/*.H_and_Heart
{
    border:solid orange;  
}*/
h1 {
  margin: 30px auto 0 15px;
  z-index: 15;
  font-size: 30px;
}

/**/
.Container_coeur {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  /*border:solid aqua;*/
  /*background-color:aqua;*/
}

.coeurplein, .coeurvide {
  font-size: 23.5px;
  font-weight: 100;
  position: absolute;
  /*top:-70px*/
  top: -35px;
  right: 20px;
  /*border:solid lightgreen;*/
  /*color:white;*/
  cursor: pointer;
}

i.coeurplein {
  /*z-index:6;*/
  opacity: 0;
  z-index: 8;
}

i.coeurvide {
  z-index: 6;
  opacity: 1;
}

i.coeurvide:hover {
  opacity: 0;
  z-index: 1;
}

i.coeurplein:hover {
  /*z-index:8;*/
  animation: fillheart 0.3s linear forwards;
  opacity: 1;
}

/*# sourceMappingURL=style_menu.css.map */
