html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  background: #fff;
}
html *:before, html *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "roboto", sans-serif;
  background: #f6f6f6;
  margin: auto;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p, body ol, body ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body ol, body ul {
  list-style: none;
}
body img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  height: 63px;
  -webkit-box-shadow: 0 3px 10px 0px #dddddd;
  box-shadow: 0 3px 10px 0px #dddddd;
}
header h2 {
  font-family: "shrikland", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1024px;
  margin: auto;
  position: relative;
  color: #000;
}
header .back {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  font-size: 1.5rem;
}

.localiser {
  background-color: #eaeaea;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.localiser i {
  margin-right: 1rem;
  margin-left: -1rem;
}

.conteneur-fonctionnement {
  height: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.conteneur-fonctionnement p {
  text-align: center;
  padding: 0 2rem;
}
.conteneur-fonctionnement .conteneur-fonctionnement_reservez {
  font-size: 1.6rem;
  font-weight: bold;
}
.conteneur-fonctionnement .conteneur-fonctionnement_decouvrez {
  font-weight: lighter;
}

.fonctionnement {
  position: relative;
  max-width: 1024px;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .fonctionnement .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 200px;
    border-radius: 1rem;
    margin: 0.5rem;
  }
}
.fonctionnement .fonctionnement_titre {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
@media only screen and (max-width365px), only screen and (min-width: 365px) {
  .fonctionnement .fonctionnement_titre {
    position: inherit;
    padding-bottom: 1rem;
  }
}

.fonctionnement_etape {
  width: 322px;
  height: 72px;
  background: #f6f6f6;
  -webkit-box-shadow: 0 3px 10px 0px #dddddd;
  box-shadow: 0 3px 10px 0px #dddddd;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.fonctionnement_etape .fonctionnement_etape_description {
  padding-right: 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .fonctionnement_etape .fonctionnement_etape {
    max-width: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  .fonctionnement_etape .fonctionnement_etape {
    max-width: 30%;
  }
}
.fonctionnement_etape :last-of-type {
  background: #f2eafb;
}

.fonctionnement_etape_icone {
  padding: 0 1.5rem 0 2rem;
  color: grey;
}
.fonctionnement_etape_icone .fonctionnement_etape_icone.fas.fa-store {
  color: #9356dc;
}

.fonctionnement_etape_numero {
  position: absolute;
  top: calc(50% - 12px);
  left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 1.5rem;
  height: 1.5rem;
  background: #9356dc;
  color: #fff;
  border-radius: 50%;
  margin-left: -1rem;
}
@media only screen and (max-width: 365px) {
  .fonctionnement_etape_numero .fonctionnement__etape {
    width: 285px;
  }
}

/*# sourceMappingURL=style.css.map */
